
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-rows: repeat(6, 70px);
    max-width: min-content;
    margin-top: 20px;
}


.row {
    display: grid;
    grid-template-columns: repeat(5, 70px);
}

.row .grid {
    border: 2px solid rgba(128, 128, 128, 0.24);
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

.kgrid {
    min-width: 2rem;
    font-size: 1.4rem;
    margin: 3px;
    text-align: center;
    background-color: #d3d0d0;
    border-radius: 3px;
    padding: 0.8rem;
    border: 0;
}

.correctPosition {
    background-color: #88c807;
    color: white;
}

.wrongPosition {
    background-color: #cbb408db;
    color: white;
}

.noPosition {
    background-color: #71797E;
    color: white;
}



.keyboard-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 40px;
    width: 600px;
    /* border: 1px solid black; */
}

.keyboard-container {
    .row-0,
    .row-1,
    .row-2 {
        display: flex;
        justify-content: center;
    }
}








